argcomplete==3.5.3
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
click==8.1.8
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==44.0.2
curio==1.6
defusedxml==0.7.1
docutils==0.21.2
email_validator==2.2.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
fastapi==0.115.11
filelock==3.17.0
grandalf==0.8
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.127.4
ipython==9.0.0
ipywidgets==8.1.5
Jinja2==3.1.5
jnius==1.1.0
js==1.0
keyring==25.6.0
langchain_anthropic==0.3.8
langchain_aws==0.2.14
langchain_mongodb==0.5.0
langchain_ollama==0.2.3
langchain_openai==0.3.7
langchain_text_splitters==0.3.6
langgraph_api==0.0.27
langsmith_pyo3==0.1.0rc5
numpy==2.2.3
openai==1.65.2
outcome==1.3.0.post0
pandas==2.2.3
pexpect==4.9.0
Pillow==11.1.0
protobuf==5.29.3
pygraphviz==1.14
pymongo==4.11.1
pyodide==0.0.2
pyOpenSSL==25.0.0
pyppeteer==2.0.0
python-dotenv==1.0.1
rapidfuzz==3.12.2
redis==5.2.1
setuptools==75.8.2
simplejson==3.20.1
simsimd==6.2.1
socksio==1.0.0
Sphinx==8.2.2
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
Twisted==24.11.0
urllib3_secure_extra==0.1.0
uvicorn==0.34.0
uvloop==0.21.0
xmlrpclib==1.0.1
zope==5.12